# Measure

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [2]:
df = pd.read_csv('data/us_indicators.csv')
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

In [3]:
df

,date,cpi,policy_rate,neer,money_supply,inflation_target,type_of_monetary_policy
0,2001-01-31,1.32,1.5,89.24,147.07,inrange,ease
1,2001-02-28,1.44,1.5,90.47,145.49,inrange,ease
2,2001-03-31,1.44,1.5,89.33,140.02,inrange,ease
3,2001-04-30,2.52,1.5,87.32,138.88,inrange,ease
4,2001-05-31,2.76,1.5,87.16,139.49,inrange,ease
...,...,...,...,...,...,...,...
277,2024-02-29,-0.77,2.5,118.51,718.27,outrrange,tight
278,2024-03-31,-0.47,2.5,118.11,711.58,outrrange,tight
279,2024-04-30,0.19,2.5,116.80,695.69,outrrange,tight
280,2024-05-31,1.54,2.5,117.21,702.68,inrange,tight
281,2024-06-30,1.54,2.5,117.55,702.68,inrange,tight

## Overview

In [4]:
df.describe()

,date,cpi,policy_rate,neer,money_supply
count,282,282.000000,282.000000,282.000000,282.000000
mean,2012-10-14 19:39:34.468084992,1.987624,2.035461,103.934220,432.494929
min,2001-01-31 00:00:00,-4.360000,0.500000,85.840000,138.870000
25%,2006-12-07 18:00:00,0.425000,1.500000,94.317500,237.987500
50%,2012-10-15 12:00:00,1.755000,1.750000,102.730000,470.675000
75%,2018-08-23 06:00:00,3.230000,2.500000,114.322500,613.550000
max,2024-06-30 00:00:00,9.160000,5.000000,126.920000,765.730000
std,NaN,2.188279,1.044849,11.502054,202.217172

## Central Tendency

### Mean

In [5]:
df['cpi'].mean()

1.9876241134751773

### Median

In [6]:
df['cpi'].median()

1.755

### Mode

In [7]:
df['policy_rate'].mode()

0    1.5
Name: policy_rate, dtype: float64

In [8]:
df['inflation_target'].mode()

0    outrrange
Name: inflation_target, dtype: object

## Dispersion

### Variance

In [9]:
df['cpi'].var()

4.788564085964513

### Standard Deviation

In [10]:
df['cpi'].std()

2.1882787953011182

## Shape

### Skewness

In [11]:
df['cpi'].skew()

0.4347841036814551

### Kurtosis

In [12]:
df['cpi'].kurtosis()

0.6537834217575811

## Position

### Percentiles

In [13]:
np.percentile(df['cpi'], 50)

1.755

#### Percentile of the number

In [14]:
st.percentileofscore(df['cpi'], 1.5)

44.326241134751776

### Quartiles

In [15]:
df['cpi'].quantile(0.5)

1.755

## Identify Outlier

In [16]:
col = 'cpi'

### By standard deviation

In [17]:
z = 2

In [18]:
mean = df[col].mean()
sd = df[col].std()

In [19]:
lower_bound = mean - (z * sd)
upper_bound = mean + (z * sd)

In [20]:
(lower_bound, upper_bound)

(-2.3889334771270594, 6.364181704077414)

### By IQR

In [21]:
q1 = df[col].quantile(0.25)
q3 = df[col].quantile(0.75)

In [22]:
iqr = q3 - q1

In [23]:
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

In [24]:
(lower_bound, upper_bound)

(-3.7825000000000006, 7.4375)